.header >ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: 72px;
    list-style-type: none;
}

.menu_item{
    display: inline-block;
    padding: 32px 0px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.img_part{
    display: flex;
    height: 552px;
    padding: 92px 400px 92px 401px;
    justify-content: center;
    align-items: center;
    background: #00BDC9;
}

.image{
    width: 599px;
    height: 368px;
    flex-shrink: 0;
}

.content_div{
    display: flex;
    padding: 88px 0px;
    flex-direction: column;
    align-items: center;
}

.text_header{
    align-self: stretch;
    color: #000;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%;
}

.text_div{
    display: flex;
    padding: 40px 0px;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.main_text{
    width: 856px;
    color: #161616;
    font-family: "Inter", sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 535;
    line-height: 150%;
}

.colored_text{
    color: #04959E;
    font-family: "Inter", sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 540;
    line-height: 150%;
}

.numbered_text{
    width: 856px;
    color: #161616;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 450;
    line-height: 150%;
}

.button_div{
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button{
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    background: #04959E;
    border: none;

    color: #FFF;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-style: normal;
}

.line{
    width: 100%;
    height: 1px;
    background: #161616;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

.footer_text{
    display: flex;
    width: 856px;
    padding: 16px 0px;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
}